{% extends 'tech-articles/dashboard/base_blank.html' %}

{% block main %}
  {% include 'tech-articles/dashboard/includes/_sidebar.html' %}
  <div class="relative flex flex-1 flex-col overflow-y-auto overflow-x-hidden bg-surface-darker">
    {% include 'tech-articles/dashboard/includes/_overlay.html' %}
    {% include 'tech-articles/dashboard/includes/_navbar.html' %}
    <main class="flex-1 p-4 lg:p-6">
      {% block content %}{% endblock %}
    </main>
    {% include "tech-articles/dashboard/includes/_footer.html" %}
  </div>
{% endblock %}
