{% load i18n %}
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Meta Tags for SEO -->
  <meta name="description" content="{% block meta_description %}Dashboard - Runbookly{% endblock %}">
  <meta name="keywords" content="{% block meta_keywords %}dashboard, articles, management{% endblock %}">
  <meta name="author" content="Runbookly">
  <meta name="theme-color" content="#2563eb">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/output.css' %}">

  <!-- Title -->
  <title>{% block title %}{% translate 'Dashboard - Runbookly' %}{% endblock %}</title>

  {% block css %}{% endblock %}
</head>
