{% extends "tech-articles/home/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Home" %} | Runbookly{% endblock %}

{% block content %}
  {# Hero Section #}
  {% include "tech-articles/home/includes/sections/_hero.html" %}

  {# Orientation and features Sections #}
  {% include "tech-articles/home/includes/sections/_orientation_and_features.html" %}

  {# Articles Section #}
  {% include "tech-articles/home/includes/sections/_articles.html" %}

  {# Pricing Section #}
  {% include "tech-articles/home/includes/sections/_pricing.html" %}

  {# Newsletter Section #}
  {% include "tech-articles/home/includes/sections/_newsletter.html" %}
{% endblock %}

{% block footer %}
  {% include "tech-articles/home/includes/_footer.html" %}
{% endblock %}

{% block js %}
  <script src="{% static 'js/home/newsletter/subscription-manager.js' %}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const newsletterManager = new NewsletterSubscriptionManager(
        'newsletter-form',
        '{% url "newsletter:subscribe" %}'
      );
    });
  </script>
{% endblock %}