{% extends "tech-articles/home/base.html" %}
{% load i18n %}

{% block title %}{% trans "Home" %} | Runbookly{% endblock %}

{% block content %}
  {# Hero Section #}
  {% include "tech-articles/home/includes/sections/_hero.html" %}

  {# Orientation Section - What you'll find here #}
  {% include "tech-articles/home/includes/sections/_orientation.html" %}

  {# Features Section - Why this platform is different #}
  {% include "tech-articles/home/includes/sections/_features.html" %}
{% endblock %}


