{% extends "tech-articles/home/base.html" %}
{% load i18n %}

{% block title %}{% trans "Home" %} | Runbookly{% endblock %}

{% block content %}
  {# Hero Section #}
  {% include "tech-articles/home/includes/sections/_hero.html" %}

  {# Orientation and features Sections #}
  {% include "tech-articles/home/includes/sections/_orientation_and_features.html" %}

  {# Articles Section #}
  {% include "tech-articles/home/includes/sections/_articles.html" %}

  {# Pricing Section #}
  {% include "tech-articles/home/includes/sections/_pricing.html" %}
{% endblock %}


