{% load i18n %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans "Set new password" %} - Runbookly</title>
</head>
<body>
  <h1>{% trans "Set your new password" %}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
      {{ form.new_password1.label_tag }}<br>
      {{ form.new_password1 }}
      {{ form.new_password1.errors }}
    </div>
    <div>
      {{ form.new_password2.label_tag }}<br>
      {{ form.new_password2 }}
      {{ form.new_password2.errors }}
    </div>
    <button type="submit">{% trans "Set password" %}</button>
  </form>
</body>
</html>
